.card-largura{
    max-width: 18rem;   
   
}
.imagem-carrossel{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagem-carrossel2{
    object-fit: cover;
    height: 400px;
}
.quemsomo-imagem{
    object-fit: cover;
    height: 250px;
    width: 250px;
    border: 1px solid darkred ;
    padding: 2px;
    object-position: 0% 50%;
    border-radius: 100%;       
}
.cor-branco{    
    color: #ffffff !important;
    font-weight: 500;

}
.font-titulo{
    font-family: 'Pacifico', cursive;
}
.cor-especial{
    color: darkred !important;     
}
.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}
.card-botao{
    background: darkred;
    color: #ffffff;
}
.card2{
    border:none;
    text-align: center;
}
.borda-cor-especial{
    border-color: darkred ;
}
.paragrafo{
    color:#6d7175; font-style: normal; font-weight: 500;
}
.paragrafo2{
    color:#58595a;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
.titulo-nome{
    padding-top: 8px;
}

.rodape{     
     
    width: 100% !important; 
    text-align: center!important;   
    height: 80px;
    color: white;
    padding: 2 0 ;
    background: rgb(77, 76, 76);
    
}
a:link{
    color: #ffffff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}